<%= form_with(model: movie, class: "form") do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :release_date, class: "form-label" %>
    <%= form.date_field :release_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :genre, class: "form-label" %>
    <%= form.text_field :genre, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  
<% end %>
